.counting {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    &-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        .icon {
            margin-bottom: 10px;
        }
        .number {
            font-size: 60px;
            line-height: 75px;
            color: #818b92;
            font-weight: 500;
        }
        .title {
            color: $orange-color;
        }
    }
}

@media screen and (max-width: 600px) {
    .counting {
        grid-template-columns: repeat(1, 1fr);
        &-item {
            .title {
                margin-bottom: 0;
            }
        }
    }
}