.our-team {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    &-top {
        max-width: 990px;
        margin: 0 auto;
        padding: 15px;
       &-image {
           margin-bottom: 20px;
       }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            .user-image {
                width: 100%;
                height: 430px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .user-info {
                text-align: center;
                .title {
                    color: $orange-color;
                    text-transform: capitalize;
                    a {
                        color: $orange-color;
                        transition: all .3s;
                        &:hover {
                            color: rgba(0,0,0,0.8);
                        }
                    }
                }
                .user-social {
                    display: flex;
                    justify-content: center;
                    li {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .3s;
                        a {
                            color: rgba(0,0,0,0.8);
                            i {
                                font-size: 18px;
                            }
                        }
                        &:hover {
                            opacity: .5;
                        }
                    }
                    
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .our-team {
        &-top {

        }
        &-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}